@import url('normalize.css');
@import url('base.css');
@import url('https://fonts.googleapis.com/css2?family=Mandali&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  /* --mainColor: #6e8e9b; */
  --mainColor: #AF3A00;
  --shadow: 2px 3px 7px rgba(0, 0, 0, 0.2);
}

/*************** 
* CSS GENERAL
****************/
body {
  font-family: "Raleway", sans-serif;
  font-size: 12px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  max-width: 1060px;
  text-align: justify;
}

h1,
h2 {
  font-family: "Mandali", sans-serif;
}

h1 {
  text-transform: uppercase;
  font-size: 60px;
  font-weight: lighter;
  letter-spacing: 5px;
}

h2,
h3 {
  text-transform: uppercase;
  font-weight: bold;
  color: var(--mainColor);
}

h2 {
  font-size: 20px;
  margin-bottom: 20px;
}


h3 {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  margin-bottom: 0;
}


/*************** 
* CLASSES GLOBALES 
****************/
article {
  margin: 30px 0;
}

h3::after {
  content: "";
  height: 1px;
  width: 100%;
  display: block;
  background-color: var(--mainColor);
  margin-top: 10px;
  margin-bottom: 10px;
}

header,
main {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  gap: 30px;
}

/*************** 
* CSS PAR SECTION 
****************/

/************************* header *************************/

header {
  background-color: rgba(0, 0, 0, 1);
  color: white;
}

header img {
  width: 100px;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 50%;
  padding: 5px;
  border: white 1px solid;
}


/************************* main *************************/
main {
  justify-content: center;
}

#informatique div,
.description,
.informations {
  display: flex;
}

#informatique div {
  justify-content: center;
  gap: 20px;
  margin: 10px 0;
}

.description {
  gap: 30px;
}

.informations {
  flex-direction: column;
  margin: 0;
}

.annee {
  width: 20%;
}

ul {
  font-size: 10px;
  margin-left: 30px;
  margin-top: 0;
  padding-top: 0;
  list-style-type: circle;
}